extends page

block leftp-1
			button(class="btn" ,type="button") Upload

block rightp-titlebanner
	H1 Home Page

block rightp-docinfo
	p File Name:	Title:
block rightp-tablevers
	table
		thead
			tr
				th Id
				th Uuid
				th Date
				th Size
				th Comments
				th cbox
		tbody
			//each post, i in userPosts
			tr
				td 1111 
				td 1212
				td new Date();
				td 10kb
				td Comentarios y otros lalala
				td 
					input(type = 'checkbox', name='element', id='e1', form='elements')