extends page

block head2
	title DVM - Home

block leftp-1

block rightp-titlebanner
	H2 Home Page

block rightp-docinfo
	div
block rightp-table
	.tablehome
		table.table.table-hover
			thead
				tr
					th Id
					th Uuid
					th File Name
					th Date
					th Version
					th
					th
			tbody
				//each post, i in userPo
				//- each item in rows
				//- 	tr
				//- 		td= item.firstName
				//- 		td= item.lastName
				tr
					td 1111 
					td 1212
					td doc1.docx
					td date;
					td(align="center") 5
					td 
						button(class="btn btn-warning btn-versions", type="button", onClick="parent.location='/versions'") versions
					td 
						button(class="btn btn-info btn-download", type="button" , onClick="parent.location='/donwloads'") download
				tr
					td 1111 
					td 1212
					td doc1.docx
					td date;
					td(align="center") 5
					td 
						button(class="btn btn-warning btn-versions", type="button", onClick="parent.location='/versions'") versions
					td 
						button(class="btn btn-info btn-download", type="button" , onClick="parent.location='/donwloads'") download

				tr
					td 1111 
					td 1212
					td doc1.docx
					td date;
					td(align="center") 5
					td 
						button(class="btn btn-warning btn-versions", type="button", onClick="parent.location='/versions'") versions
					td 
						button(class="btn btn-info btn-download", type="button" , onClick="parent.location='/donwloads'") download