extends layout

block head  
	title DVM - Sign Up Form
	link(href="./css/pagelayout.css", rel="stylesheet" , media="screen")
block content  
	.formcontentlogin
		form(method='post',action='')
			.formgroup
				label(for='user') *User:
				input.form-control(type='text',name='user',id='user')      
			.formgroup
				label(for='pass') *Password:
				input.form-control(type='password',name='pass',id='pass')
			.formgroup
				input.btn.btn-info(type='button',name='submit',value='Submit',onClick="parent.location='/'").submit-button