.leftp {
  width: 15%;
  float: left;
}
.rightp {
  width: 85%;
  float: right;
}
.leftp-1 .btn {
  padding: 10px 20px;
  margin: 20px 50px;
  float: left;
  clear: both;
}
.leftp-2 .btn {
  text-align: center;
  margin: 5px 60px;
  padding: 5px 10px;
  float: left;
  clear: both;
}
.leftp-1 {
  width: 100%;
  float: center;
  clear: both;
}
.leftp-2 {
  width: 100%;
  float: center;
  clear: both;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.hcenter {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
#titl {
  margin-left: 50px;
}
