extends layout

block head  
	title DVM - Sign Up Form
	link(href="./css/pagelayout.css", rel="stylesheet" , media="screen")

block content  
	.formcontent
		form(method='post',action='', role="form", class="form-horizontal")
			.formgroup
				label.col-sm-2.control-label.col-sm-2.control-label(for='name') *Name:
				.col-sm-10
					input(type='text',name='name',id='name')
			.formgroup   
				label.col-sm-2.control-label(for='email') *Email:
				.col-sm-10
					input(type='text',name='email',id='email')
			.formgroup
				label.col-sm-2.control-label(for='user') *User:
				.col-sm-10
					input(type='text',name='user',id='user')      
			.formgroup
				label.col-sm-2.control-label(for='pass') *Password:
				.col-sm-10
					input(type='password',name='pass',id='pass')
			.formgroup
				label.col-sm-2.control-label(for='repass') *Re-Password:
				.col-sm-10
					input(type='password',name='repass',id='repass')
			.formgroup
				.col-sm-offset-2.col-sm-10
					input.btn.btn-warning(type='submit',name='submit',value='Submit').submit-button
		