extends page

block head2
	title DVM - Versions

block leftp-1
			

block leftp-2
			button(class="btn btn-success", type="button") Download
			button(class="btn btn-success", type="button") Edit
			button(class="btn btn-success", type="button") Delete
			button(class="btn btn-success", type="button") Set Main

block rightp-titlebanner
	h2 Versions

block rightp-docinfo
	.fnametxt
		div File Name:
		div Title:
block rightp-table
	.tablevers
		table.table.table-striped
			thead
				tr
					th Id
					th Uuid
					th Date
					th Size
					th Comments
					th cbox
			tbody
				//each post, i in userPosts
				tr
					td 1111 
					td 1212
					td Date.now();
					td 10kb
					td Comentarios y otros lalala
					td
						input(type = "radio", form="tabformv", value="1", name = "rad")
				tr
					td 1111 
					td 1212
					td new Date();
					td 10kb
					td Comentarios y otros lalala
					td
						input(type = "radio", form="tabformv", value="2",name="rad")